<!DOCTYPE html>
<html>
<head>
  <title>エラーが発生しました</title>
  <style>
    body {
      padding: 50px;
      font: 14px "メイリオ", sans-serif;
      text-align: center;
    }
  </style>
</head>
<body>
  <h1><%= message %></h1>
  <p>サーバーでエラーが発生しました。</p>
  <pre><%= error.stack %></pre>
</body>
</html>